optgroup {
  text-align: center;
}
option {
  text-align: left;
}

.x-vowel {
  color: brown;
}
.x-suffix {
  color: royalblue;
}
.x-joint {
  color: darkorange;
}
.x-ending {
  font-weight: bold;
}
.x-compound,
.t-9 > span,
.t-11 > span {
  font-weight: normal;
  color: #398467;
}

@media screen and (max-width: 29rem) {
  .get {
    min-width: auto;
  }
  .get::before {
    content: "↻";
  }
  .get > span {
    display: none;
  }
}
